.product__rating {
  display: flex;

}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:10px;
  padding: 20px;
  z-index: 1;


}


.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}


.product__price {
  margin-top: 05px;
  font-size: 0px;
}

.product__info {
  height: 100%;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}



.product__title {
  text-decoration: none;
  color: black;
  font-size: 30px;
}


